

/* Nav Bar Styles */
.nav-icon:hover{
	text-decoration: none;
	color: blue;
}

.fa-bars:hover{
	text-decoration: none;
	color: blue;
}

.fa-bars{
	font-size: 40px;
	color: gold;
}

.nav-icon{
	font-size: 50px;
	color: gold;
}


#brand{
	position: absolute;
	right: 0;
	font-size: 30px;
	color: gold;
}

#search-button{
	font-size: 25px;
	color: gold;
}

#search-text{
	height: 52px;
	width: 300px;
}


/* Image Gallery Styles */
div.gallery 
{
	margin: 5px;
	border: 1px solid black;
	float: left;
	width: 180px;
}

div.gallery:hover 
{
	border: 1px solid #777;
}

div.gallery img 
{
	width: 100%;
	height: auto;
}

div.desc 
{
	padding: 15px;
	text-align: center;
}

#Back
{
   display: block;
   clear: both;
}

body
{
   background-color: black;
   color: gold;
}

/* Formatting Styles */
.line{
	background-color: gold;
}